.input-form
  .registrations-header
    %h1 ログイン
  .registrations-form
    = form_with model: @user, url: user_registration_path, id:"edit_user",class: "edit_user" , local: true do | f |
      = devise_error_messages
      .field
        .field-label
          = f.label :name
        .ui.input.input-text
          = f.text_field :name, autofocus: true
      .field
        .field-label
          = f.label :email
        .ui.input.input-text
          = f.email_field :email
      .actions
        = f.submit "登録", class: 'ui primary button'
