.password
  %h3
    スケジュールパスワードを入力してください
  .form-error
    = @errmsg
  = form_with model:@schedule,url: authentication_follow_schedules_path(sharesche_key: params[:sharesche_key]) ,local: true do |f|
    .field
      .field-label
        = f.label :password
      .ui.input.input-text
        = f.text_field :password,pattern: "^[0-9A-Za-z]+$"
      %p.annotation *半角英数字のみ
    .actions
      .empty
      = f.submit "入力", class: 'ui primary button'
