.edit-list
  .form-heading 
    %h1 リスト編集
  .breadcrumbs
    = link_to "HOME",schedules_path
    %i.angle.double.right.icon
  .list-form
    .form-body
      -@list.errors.full_messages.each do |message|
        .form-error
          = message
      =form_with model:@list,url: list_path, local: true do |f|
        =@error_message
        .field
          .field-label
            = f.label :name
            %span.must （必須）
          .ui.input.input-text
            = f.text_field :name,required: true
        .actions
          = link_to "削除", list_path(id: @list.id), method: "delete" ,class:"ui red basic button"
          = f.submit "登録", class: 'ui primary button'
        .schedules-container
          = f.collection_check_boxes :schedule_ids,@schedules,:id,:name do | schedule |
            .schedules-index__item
              = schedule.label do
                .schedule-left
                  .ui.checkbox
                    = schedule.check_box
                    %label
                .schedule-right
                  .schedule-name
                    = schedule.object.name
                  .schedule-message
                    = simple_format(schedule.object.message)
          = f.collection_check_boxes :schedule_ids,@follow_schedules,:id,:name do | schedule |
            .schedules-index__item
              = schedule.label do
                .schedule-left
                  .ui.checkbox
                    = schedule.check_box
                    %label
                .schedule-right
                  .schedule-user
                    作成者:
                    = schedule.object.user_name
                  .schedule-name
                    = schedule.object.name
                  .schedule-message
                    = simple_format(schedule.object.message)
